/* flex */
.flex{
    display: flex;
}

/* grid */
.grid{
    display: grid;
}

/* block */
.block{
    display: block;
}

/* inline */
.inline{
    display: inline;
}

/* inline-block */
.inline-block{
    display: inline-block;
}

/* none */
.none{
    display: none;
}