#portfolio section{
    margin-bottom: 3rem;
    transition: all ease-out 2s;
}

.nav-sections-projects{
    padding: 1rem;
    margin-bottom: 3rem;
}

.nav-sections-projects button{
    padding: 0.2rem;
    margin: 5px;
    background-color: transparent;
    border: 2px solid var(--black);
    border-radius: 0.5rem;
    box-shadow: none;
    font-family: "Roboto-Black";
    transition: all ease 0.3s;
}

/* projects */
.project-container{
    height: 350px;
    max-width: 350px;
    margin-bottom: 3rem;
    overflow: hidden;
}

.project-container .hover-project-1{
    background-color: var(--black);
    top: 0;
    right: -100%;
    transition: all ease-in-out 0.5s;
}

.project-container .hover-project-2{
    background-color: var(--black);
    bottom: 0;
    left: -100%;
    transition: all ease-in-out 0.5s;
}

.project-container h3{
    text-align: center;
    font-family: "Allison-Regular";
    font-size: x-large;
    font-weight: 100;
    color: var(--orange);
    top: -5%;
    transition: all ease-in-out 1s;
    opacity: 0;
    letter-spacing: 0;
}

.project-container p{
    color: var(--white-da);
    text-align: center;
    bottom: -5%;
    transition: all ease-in-out 1s;
    opacity: 0;
    font-size: medium;
}

.project-container .eye{
    width: 30px;
    height: 30px;
    right: 5%;
    bottom: -5%;
    cursor: pointer;
    transition: all ease-in-out 1s;
    opacity: 0;
    animation: infinite eye 0.8s;
}

/* events */
.select-section-projects-button{
    border: 3px solid var(--orange) !important;
    color: var(--orange) !important;
}

.select-section{
    position: absolute;
    transform: scale(0);
    opacity: 0;
}