.home > div > div > button:hover{
    opacity: 1;
    color: var(--white);
    border-color: var(--white);
    transition: all ease 0.5s;
}

.home > nav > ul li img:hover{
    transform: scale(1.3);
}