.home{
    padding: 1.5rem 0.1rem;
}

.home > div > h1{
    margin: 2rem 0 2.5rem 0;
    background-color: rgba(245, 234, 234, 0.3);
    box-shadow: 0 0 1rem 0.2rem var(--black);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.home > div > div > button{
    border-radius: 2rem;
    margin-bottom: 2.5rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: var(--aqua);
    border: 3px solid var(--aqua);
    transition: all ease 0.5s;
}

.home > div > h2{
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 1.1rem;
}

.home > div > h2 > div{
    cursor: default;
    transition: all 0.5s;
    text-shadow: 5px 5px 6px var(--black);
}

.home > div > h2 > .letter-developer{
    color: rgba(0, 0, 0, 0.2) !important;
    text-shadow: -3px 5px 6px var(--black);
}

.home > div > h2 > .letter-developer::before{
    content: "D";
    color: var(--aqua);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 14%;
    top: 2%;
}

.home > div > h2 > .letter-web{
    color: rgba(0, 0, 0, 0.5) !important;
    text-shadow: -5px 5px 6px var(--black);
}

.home > div > h2 > .letter-web::before{
    content: "W";
    color: var(--aqua);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 14%;
    top: 2%;
}

.home > div > h2 > span{
    margin-top: 1rem;
    color: var(--orange);
    font-weight: 100;
}

.home > div > h2 > span > b{
    right: 0;
    width: 0;
    background-color: var(--body);
    border-left: 1px solid var(--white);
    animation: 3s write alternate infinite;
}

.home > div > span{
    margin: 2rem 0;
}

.home > div > span > .buttons-cv-and-github{
    margin: 1rem;
    padding: 1rem 0.5rem;
    border: 4px solid var(--aqua);
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 1rem 0.2rem var(--black);
    font-size: small;
    font-weight: 900;
    color: var(--aqua);
    background-color: transparent;
    letter-spacing: 3px;
    transition: all ease-in-out 0.5s;
}

.home > nav{
    padding: 0.5rem;
    max-width: 200px;
}

.home > nav > ul li img{
    cursor: pointer;
    transition: all ease-in 0.5s;
}

.home > .svg{
    bottom: 0;
    opacity: 0.8;
    height: 50px;
}

.content-sections{
    overflow: hidden;
}

.content-sections > .content-sections-text{
    width: 500%;
    left: -400%;
}

.content-sections > .content-sections-text > p{
    width: 100%;
    text-align: center;
}

/* events */
.text-subtitles-animation{
    color: var(--aqua) !important;
    animation: text-subtitles-animation 0.6s ease;
}

.cv{
    text-shadow: 5px 5px 6px var(--black);
    color: var(--white) !important;
    box-shadow: none !important;
}