.home{
    padding: 1.5rem 0.1rem;
}

.home > div > h1{
    margin: 2.5rem 0 1.5rem 0;
    background-color: rgba(245, 234, 234, 0.3);
    box-shadow: 0 0 1rem 0.2rem var(--black);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    letter-spacing: 2px;
}

.home > div > div > button{
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: var(--aqua);
    border: 3px solid var(--aqua);
    transition: all ease 0.5s;
}

.home > div > h2{
    padding: 0.5rem 0 0.5rem 0;
}

.home > div > h2 > span{
    margin-top: 0.5rem;
    color: var(--orange);
}

.home > div > a{
    padding: 1rem 0.5rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    border: 4px solid var(--aqua);
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 1rem 0.2rem var(--black);
    font-size: small;
    font-weight: 900;
    color: var(--aqua);
    letter-spacing: 3px;
    transition: all ease-in-out 0.5s;
}

.home > div > button{
    padding: 1rem;
    margin-bottom: 1rem;
    border: 4px solid var(--aqua);
    background-color: var(--body);
    color: var(--aqua);
    box-shadow: 0 0 1rem 0.2rem var(--black);
    letter-spacing: 3px;
    transition: all ease-in-out 0.5s;
}

.home > nav{
    padding: 0.5rem;
    max-width: 200px;
}

.home > nav > ul li img{
    cursor: pointer;
    transition: all ease-in 0.5s;
}

.home > .svg{
    bottom: 0;
    opacity: 0.8;
    height: 50px;
}

.content-sections{
    overflow: hidden;
}

.content-sections > .content-sections-text{
    width: 500%;
    left: -400%;
}

.content-sections > .content-sections-text > p{
    width: 100%;
    text-align: center;
}

/* events */
.cv{
    text-shadow: 5px 5px 6px var(--black);
    color: var(--white) !important;
    box-shadow: none !important;
}