/* 300 and 575 pixels */
@media (min-width: 300px){
    .home > div > h1{
        padding: 1rem 1.5rem;
        font-size: 3rem;
    }

    .home > div > div > button{
        font-size: large;
    }

    .home > div > h2{
        font-size: 1.6rem;
    }

    .home > div > h2 > div{
        margin: 1px;
    }

    .home > div > span > .buttons-cv-and-github{
        font-size: medium;
    }

    .home > nav{
        max-width: 250px;
    }
}

/* 576 and 767 pixels */
@media (min-width: 576px){
    .home > div > h1{
        padding: 3rem 3.5rem;
        font-size: 4rem;
        border-radius: 3rem;
    }

    .home > div > div > button{
        font-size: x-large;
    }

    .home > div > h2{
        font-size: 2.6rem;
    }

    .home > div > h2 > div{
        margin: 1px;
    }

    .home > nav{
        max-width: 350px;
    }
}

/* 768 and 991 pixels */
@media (min-width: 768px){

    .home > div > h1{
        padding: 3rem 3.5rem;
        font-size: 5rem;
        border-radius: 3rem;
    }

    .home > div > h2 > .space{
        width: auto;
        margin: 0.3rem;
    }
}

/* 992 and 1199 pixels */
@media (min-width: 992px){
    .home > div > h2{
        font-size: 3.6rem;
    }
}

/* 1200 and onwards pixels */
@media (min-width: 1200px ){
    .home > div > h1{
        padding: 4rem 4.5rem;
        font-size: 6rem;
        border-radius: 4rem;
    }

    .home > div > div > button{
        font-size: xx-large;
    }

    .home > div > h2{
        font-size: 4.6rem;
    }

    .home > div > span > .buttons-cv-and-github{
        font-size: large;
    }

    .home > nav{
        max-width: 400px;
    }
}